<% unless @message.nil? %>
  <div id="errors">
    <h3>Errors!</h3>
    <ul>
      <li><em><%= @message %></em></li>
    </ul>
  </div>
<% end %>

<div class="login_form"><%= form_tag "/session" do %>
  <div class="login_fields">
    <%= label_tag :email %>
    <%= email_field_tag :email %>
  </div>

  <div class="login_fields">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <%= submit_tag "Log in!" %>

<% end %>

</div>