<form class ="buy" action="/users/<%= @user.id %>/transactions" method="POST">
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
<h3>Buy Bitcoin</h3>
  <label>
    Buy: 
    <input type="radio" name="buy" value="0" checked="true"/>   
  </label> <br>

  <label>
    Sell:  
    <input type="radio" name="buy" value="1"/>   
  </label> <br><br>

  <input type="hidden" name="doge_total" value="0" />

  <label>
    QTY: 
    <input id="qty" type="integer" name="btc_total" value="1" onkeyup="updateTotal()"/>
  </label> <br><br>

  <label>
    Price:
    <input id="current_price" type="integer" name="price" value= <%=get_current_price%> readonly="true"/>
  </label> <br><br>

  <label>
    Total: 
    <input id="total" type="text" name="usd_total" readonly="true" value=<%=get_current_price%> />
  </label><br><br>

  <button>Buy/Sell BTC</button>
  
  <p><%= flash[:error] %></p>

</form>

