<form class="buy_doge" action="/users/<%= @user.id %>/transactions" method="POST">
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

  <label>
    Buy: 
    <input type="radio" name="buy" value="0" checked="true"/>   
  </label> <br>

  <label>
    Sell:  
    <input type="radio" name="buy" value="1"/>   
  </label> <br><br>

  <input type="hidden" name="btc_total" value="0" />

  <label>
    QTY: 
    <input id="doge_qty" type="integer" name="doge_total" value="1000"/>
  </label> <br><br>

  <label>
    Current Price:
    <input id="doge_current_price" type="integer" name="price" value=<%=doge_price_usd%> readonly="true"/>
  </label> <br><br>

  <label>
    Total: 
    <input id="doge_total_dollars" type="text" name="usd_total" readonly="true" value=<%=doge_price_usd%> />
  </label><br><br>

  <button>Buy/Sell Doge</button>
  
  <p><%= flash[:error] %></p>

</form>

