<form action="/users/<%= @user.id %>/transactions" method="POST">
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

  <label>
    Buy: 
    <input type="radio" name="buy" value="0" checked="true"/>   
  </label> <br>

  <label>
    Sell:  
    <input type="radio" name="buy" value="1"/>   
  </label> <br><br>

  <label>
    QTY: 
    <input id="qty" type="integer" name="doge_total" value="1" onkeyup="updatedogeTotal()"/>
  </label> <br><br>

  <label>
    Current Price:
    <input id="current_price" type="integer" name="price" value=<%=doge_price_btc%> readonly="true"/>
  </label> <br><br>

  <label>
    Total: 
    <input id="total" type="text" name="usd_total" readonly="true" value=<%=doge_price_btc%> />
  </label><br><br>

  <button>Buy/Sell Doge</button>
  
  <p><%= flash[:error] %></p>

</form>

