  <div class="login_form">
    <div class="login_fields">
      <%= form_for @user do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="login_fields">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="login_fields">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="login_fields">
      <%= f.label :Username %>
      <%= f.text_field :user_name %>
    <div/>
    

    <%= f.submit @user.id.nil? ? "Create Account" : "Save Changes" %>

    <% end %>

  </div>