  <div class="login_form">

    <%= form_for @user do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <br/>

    <%= f.label :password %>
    <%= f.password_field :password %>
    <br/>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <br/>


    <%= f.label :Username %>
    <%= f.text_field :user_name %>
    <br/>

    <%= f.submit @user.id.nil? ? "Create Account" : "Save Changes" %>

    <% end %>

  </div>