<ul>
  <li>USD balance: <%= number_to_currency(@user.current_usd_balance) %></li>
  <li>BTC balance: <%= number_with_precision(@user.current_btc_balance, :delimiter => ',') %></li>
  <li>Doge Balance: <%= @user.current_doge_balance %></li>
  <li>Total Balance: $<%= number_with_precision(@user.total_balance, :delimiter => ',') %> </li>
  <li>Gain/Loss: %<%= number_with_precision((@user.total_balance/25000) - 1) %> </li>
</ul>

<%= render "btc_buy_form" %>
<%= render "doge_buy_form" %>

<%= render "transaction_history" %>

<%= render "edit_delete" %>