<h1>Welcome <%= @user.user_name %></h1>
<p>USD balance: $<%= @user.current_usd_balance %></p>
<p>BTC balance: <%= @user.current_btc_balance %></p>

<p>Total Balance: $<%= @user.total_balance %> </p>


<script type="text/javascript">
  function updateTotal(){

    var quantity = document.getElementById('qty').value;
    var current_price = document.getElementById('current_price').value;
    
    document.getElementById('total').value = quantity * current_price ; 
  }
</script>

<form action="/users/<%= @user.id %>/transactions" method="POST">
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

  <label>
    Buy: 
    <input type="radio" name="buy" value="0" checked="true"/>   
  </label> <br>

  <label>
    Sell:  
    <input type="radio" name="buy" value="1"/>   
  </label> <br>

  <label>
    QTY: 
    <input id="qty" type="integer" name="btc_total" value="1" onkeyup="updateTotal()" />
  </label> <br>

  <label>
    Current Price:
    <input id="current_price" type="integer" name="price" value=<%=get_current_price%> readonly="true"/>
  </label> <br>

  <label>
    Total: 
    <input id="total" type="text" name="usd_total" readonly="true" value=<%=get_current_price%> />
  </label><br>

  <button>Submit Transaction</button>
  
  <p><%= flash[:error] %></p>

</form>


<p><%= link_to "Edit My Info", edit_user_path(@user) %></p> 

<%= form_tag user_path(@user), method: "delete" do %>
  <%= submit_tag("Delete My Account") %>
<% end %>