
<div class="container">
  <div class="row stats">
    <span class="col-md-2"><strong>USD</strong>: <%= number_to_currency(@user.current_usd_balance)%></span>
    <span class="col-md-2"><strong>BTC</strong>: <%= number_with_precision(@user.current_btc_balance, :delimiter => ',')%></span>
    <span class="col-md-2"><strong>Doge</strong>: <%= number_with_precision(@user.current_doge_balance, :delimiter => ',')%></span>
    <span class="col-md-2"><strong>FMV</strong>: $<%= number_with_precision(@user.total_balance, :delimiter => ',')%> </span>
    <span class="col-md-2"><strong>Gain</strong>: %<%= number_with_precision((@user.total_balance/25000) - 1) %> </span>
  </div>
  <div class="row">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            Buy Bitcoin
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
             <div class="col-md-6"><%= render "btc_buy_form" %></div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        Buy Doge
       </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
          <div class="col-md-6"><%= render "doge_buy_form"%></div>
        </div>
      </div>
    </div>
  </div>
  <%= render "transaction_history" %>

  <div class="footer">
    <span id="button"><%= link_to "Edit My Info", edit_user_path(@user) %></span> 

    <span id="delete-account-footer"> 
      <%= csrf_meta_tag %>
      <%= form_tag user_path(@user), method: "delete" do %>
        <%= submit_tag("Delete My Account") %>
      <% end %>
    </>
  </div>

</div>