<h1>Welcome <%= @user.user_name %></h1>
<p class="homepage_menu">USD balance: $<%= number_with_precision(@user.current_usd_balance, :precision => 2, :delimiter => ',') %></p>
<p class="homepage_menu">BTC balance: <%= @user.current_btc_balance %></p>
<p class="homepage_menu">Doge Balance: <%= @user.current_doge_balance %></p>

<p class="homepage_menu">Total Balance: $<%= number_with_precision(@user.total_balance, :precision => 2, :delimiter => ',') %> </p>

<p class="homepage_menu"> Gain/Loss: %<%= number_with_precision((@user.total_balance/25000) - 1, :precision => 4, :delimiter => ',') %> </p>


<script type="text/javascript">
  function updateTotal(){

    var quantity = document.getElementById('qty').value;
    var current_price = document.getElementById('current_price').value;
    
    document.getElementById('total').value = quantity * current_price ; 
  }


</script>

<%= render "btc_buy_form" %>
<%= render "doge_buy_form" %>

<div class="table">
  <table width= "50%" class="trxns">
    <caption>Transaction History</caption><br>
      <tr class="table_head"> 
        <th>BTC Quantity</th>
        <th>DOGE Quantity</th>
        <th>USD Total</th>
        <th>Price</th>
      </tr>
    
    <% @transactions.each do |transaction|%>
      <tr>
        <td><%= number_with_precision(transaction.btc_total, :precision => 2, :delimiter => ',')  %></td>
        <td><%= number_with_precision(transaction.doge_total, :precision => 2, :delimiter => ',')  %></td>
        <td>$<%= number_with_precision(transaction.usd_total, :precision => 2, :delimiter => ',')%></td>
        <td>$<%= number_with_precision(transaction.price, :precision => 2, :delimiter => ',') %></td>
      </tr>
    <% end %>

  </table>
</div>

<p id="button"><%= link_to "Edit My Info", edit_user_path(@user) %></p> 

<p> 
  <%= form_tag user_path(@user), method: "delete" do %>
    <%= submit_tag("Delete My Account") %>
  <% end %>
</p>