<!DOCTYPE html>
<html>
<head>
  <title>BitTrade</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>
<body>
<header>
  <div class="navbar navbar-default blue-background">
    <div class="ticker-wrapper">
      <span class="ticker">Bitcoin Price: </span> <span class="price"> $<%= get_current_price %></span>
    </div>
    <div class="ticker-wrapper">
      <span class="ticker">Doge Price: </span> <span class="price"> $<%= doge_price_usd %></span>
    </div>

    <div class="login">
      <% if logged_in? %>
        <span><%= link_to("Log Out #{current_user.user_name}", "/session", method: "delete") %></span>  
        <!-- unless current_page?(root_path) -->
      <% else %>
        <span><%= link_to("Log In","/login")%></span>
      <% end %>
    </div>

  </div>

</header>


<%= yield %>

</body>
</html>
