<!DOCTYPE html>
<html>
<head>
  <title>BitTrade</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
</head>
<body>
<header>

  <div class="nav">

      <% if logged_in? %>
        <p id="login"><%= link_to("Log Out #{current_user.user_name}", "/session", method: "delete") unless current_page?(root_path) %></p>  
      <% else %>
        <p id="login"><%= link_to("Log In","/login") unless current_page?(root_path) %></p>
      <% end %>

      <ul id="price">
        <li id="price_nav"> BTC: $<strong><%= get_current_price %></strong></li>
        <li id="price_nav"> DOGE(1,000): $<strong><%= doge_price_usd %></strong></li>
      </ul>

      
  </div>

</header>


<%= yield %>

</body>
</html>
